* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* Form */

input,
textarea,
button,
select {
  font: inherit inherit;
  background: transparent;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  background: transparent;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font: 400 18px "Roboto", sans-serif;
  background: #25272E;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  border: 1px solid #49B3FB;
  padding: 20px;
  padding: 20px 30px;
  border-radius: 36px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background: #49B3FB;
  color: #25272E;
}

.title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.3;
  margin-bottom: 50px;
  border-bottom: 2px solid red;
  display: inline-block;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  padding: 40px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__user-photo {
  width: 47px;
  height: 57px;
  margin-right: 10px;
}

.header__user-img {
  border-radius: 45% 10%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.header__user-name {
  line-height: 1.2;
  margin-bottom: 5px;
}

.header__user-prof {
  font-size: 14px;
  opacity: 0.5;
}

.burger__menu {
  display: none;
}

.menu {
  max-width: 600px;
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__link {
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.menu__link:hover:not(.btn)::after {
  width: 100%;
}

.menu__link::after {
  background: #49B3FB;
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -5px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro__subtitle {
  font-size: 46px;
}

.intro__title {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 10px;
}

.intro__profession {
  font-size: 30px;
  margin-bottom: 20px;
}

.intro__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.intro__social-img {
  width: 60px;
}

.intro__img {
  margin-left: 10px;
}

.about {
  padding: 40px 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
}

.about__img {
  max-width: 500px;
  width: 100%;
  position: relative;
}

.about__img::after {
  content: "";
  position: absolute;
  border: 5px solid #49B3FB;
  top: 27px;
  left: 30px;
  width: 500px;
  height: 700px;
  z-index: -1;
}

.about__content {
  max-width: 550px;
}

.about__text {
  font-size: 25px;
  margin-bottom: 20px;
}

.about__btn {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
}

.portfolio {
  padding: 40px 0;
}

.portfolio__slider-item {
  border-radius: 20px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}

.portfolio__slider-link {
  position: relative;
}

.portfolio__slider-link:hover .portfolio__btn {
  opacity: 0.95;
}

.portfolio__slider-link:hover .portfolio__btn span {
  opacity: 1;
}

.portfolio__slider-img {
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.portfolio__slider-desc {
  background: #49B3FB;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.portfolio__slider-title {
  position: relative;
  z-index: 4;
}

.portfolio__btn {
  background: #0c092b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  overflow: hidden;
}

.portfolio__slider-img {
  -o-object-fit: cover;
  object-fit: cover;
}

.portfolio__btn span {
  padding: 20px;
  border-radius: 20px;
  background: #49B3FB;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio__btn span:hover {
  display: inline-block;
  padding: 20px 30px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.slick-dots li {
  margin-left: 10px;
}

.slick-dots li button {
  font-size: 0px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

li.slick-active button {
  background: #49B3FB;
}

.skills {
  padding: 40px 0;
  margin-bottom: 100px;
}

.skills__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 20px;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 15px;
  background: #101518;
  border-radius: 25px;
  padding: 15px;
  position: relative;
  text-align: center;
}

.skills__item:hover .skills__item-img-hover {
  opacity: 1;
}

.skills__item-img-other {
  width: 150px;
  height: 200px;
}

.skills__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
}

.skills__item-img-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  border-radius: 25px;
  background: #020013;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
  overflow: hidden;
}

.skills__item-text {
  margin-top: 20px;
}

.skills__item-img {
  height: 100%;
}

.footer {
  padding: 30px 0;
  background: #101518;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 1150px) {
  .intro__title {
    font-size: 80px;
  }

  .intro__subtitle {
    font-size: 35px;
  }

  .about__img::after {
    width: 0;
    height: 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 980px) {
  .about__text {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about__content {
    max-width: 450px;
  }

  .about__inner {
    gap: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 900px) {
  .skills__items {
    grid-template-columns: 1fr 1fr 1fr;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 810px) {
  .about__content {
    max-width: 400px;
  }

  .about__bg {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .portfolio__slider-item {
    margin-right: 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767px) {
  .burger__menu {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 20;
  }

  .burger__menu::after,
  .burger__menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger__menu::after {
    top: 0;
  }

  .burger__menu::before {
    bottom: 0;
  }

  .burger__menu span {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    top: 9px;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger__menu.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 9px;
  }

  .burger__menu.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
  }

  .burger__menu.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    background: #101518;
    right: 0;
    z-index: 10;
  }

  .menu__list {
    display: block;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
  }

  .menu__item {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .header__user {
    position: relative;
    z-index: 20;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__content {
    max-width: 50%;
  }

  .header {
    background-color: #101518;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
    padding: 10px 0px;
  }

  .intro {
    padding-top: 100px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 700px) {
  .skills__items {
    grid-template-columns: 1fr 1fr;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 620px) {
  .about__inner {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .about__content {
    max-width: 100%;
  }

  .about__bg {
    width: 100%;
  }

  .about__img {
    max-width: 100%;
  }

  .about__title,
  .skills__title {
    font-size: 40px;
  }

  .about__text {
    line-height: 1.5;
  }

  .portfolio__title {
    font-size: 40px;
  }

  .portfolio__slider-item {
    margin-right: 0px;
  }

  .footer__inner {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .intro__social-list {
    margin-top: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 566px) {
  .intro__content {
    width: 400px;
  }

  .intro__title {
    font-size: 50px;
  }

  .intro__subtitle {
    font-size: 25px;
  }

  .intro__profession {
    font-size: 20px;
  }

  .skills {
    margin-bottom: 30px;
  }

  .footer {
    padding: 15px 0;
  }

  .intro__social-list {
    margin-top: 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 500px) {
  .skills__item-img-other {
    width: 100px;
    margin: 0 auto;
    height: 100px;
  }

  .skills__item-text {
    margin-top: 12px;
    font-size: 14px;
  }

  .menu__item {
    font-size: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 450px) {
  .intro__inner {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .intro__img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .portfolio {
    padding-top: 0;
  }

  .skills__item-title {
    font-size: 16px;
  }

@supports (-webkit-appearance:none) {

}
}